<div class="section" id="header">
  <div class="content">
    <div class="photo"><img src="{{ site.profile-photo }}" /></div>
    <div class="text">
      <div class="name">{{ site.name }}</div>
      <hr />
      <div class="short-description">{{ site.description }}</div>
      <div class="header-list">
        {% if site.resume %}
        <div><a class="fa-solid fa-2x fa-address-card" href="{{ site.resume }}" title="Resume"></a></div>
        {% endif %}

        {% if site.github_username %}
        <div><a class="fa-brands fa-2x fa-github" href="https://github.com/{{ site.github_username }}" title="GitHub profile"></a></div>
        {% endif %}

        {% if site.linkedin_username %}
        <div><a class="fa-brands fa-2x fa-linkedin" href="https://linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn profile"></a></div>
        {% endif %}

        {% if site.blog %}
        <div><a class="fa-solid fa-2x fa-pen-nib" href="{{ site.baseurl }}{{ site.blog }}" title="Blog"></a></div>
        {% endif %}

        {% if site.email %}
        <div><a class="fa fa-2x fa-envelope" href="mailto:{{ site.email }}" title="Email"></a></div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
