---
---
* {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #0033cc;
}

div.section-title {
  font-size: 18pt;
  font-weight: bold;
}

div.section {
  max-width: 900px;
  margin: 1em auto 2em auto;
}

div.icon-line {
  display: flex;
  align-items: center;

  i {
    width: 16px;
    margin-right: 4px;
  }
}

div.timeline {
  margin: 1em 0 1em 0;
  padding-top: 20px;
  padding-bottom: 30px;
  list-style-type: none;
  border-right: 2px solid #777;
  width: 10%;
  font-size: 14px;

  @media screen and (min-width: 640px) {
    width: 50%;
    padding-top: 70px;
  }

  .wrapper {
    display: block;
    position: relative;

    .content {
      border-radius: 5px;
      margin: 1em 28px;
      padding: 2em;
      line-height: 2.1;
      width: max-content;
      max-width: 250px;
      min-height: 50px;
      border: 1px solid #ddd;
      display: flex;

      .logo {
        display: flex;
        align-items: center;
        margin-right: 15px;

        a img {
          width: 50px;
          height: 50px;

          @media screen and (min-width: 750px) {
            width: 80px;
            height: 80px;
          }
        }
      }

      .company {
        font-size: 14pt;
      }

      a.company {
        color: #0033cc;

        &:hover {
          color: #5599cc;
        }
      }
    }

    @mixin timelinePoint() {
      content: "";
      background: #777;
      width: 10px;
      height: 10px;
      border: 3px solid #fff;
      position: absolute;
      border-radius: 50px;
    }

    &:nth-child(even) {
      left: 100%;
      margin-left: 6px;

      .content {

        &:after {
          width: 0;
          content: "";
          position: absolute;
          display: block;
          border-width: 22px 16px 22px 0;
          border-style: solid;
          border-color: transparent #fff;
          left: 13px;
          top: 30px;
        }

        &:before {
          width: 0;
          content: "";
          position: absolute;
          display: block;
          border-width: 22px 16px 22px 0;
          border-style: solid;
          border-color: transparent #ddd;
          left: 12px;
          top: 30px;
        }

      }

      &:before {
        @include timelinePoint();
        float: right;
        top: 43px;
        left: -13px;
      }
    }

    @media screen and (max-width: 640px) {
      &:nth-child(odd) {
        left: 100%;
        margin-left: 6px;

        .content {

          &:after {
            width: 0;
            content: "";
            position: absolute;
            display: block;
            border-width: 22px 16px 22px 0;
            border-style: solid;
            border-color: transparent #fff;
            left: 13px;
            top: 30px;
          }

          &:before {
            width: 0;
            content: "";
            position: absolute;
            display: block;
            border-width: 22px 16px 22px 0;
            border-style: solid;
            border-color: transparent #ddd;
            left: 12px;
            top: 30px;
          }

        }

        &:before {
          @include timelinePoint();
          float: right;
          top: 43px;
          left: -13px;
        }
      }
    }

    @media screen and (min-width: 640px) {
      margin-top: -50px;

      &:nth-child(odd) {

        .content {
          margin-left: auto;

          &:after {
            width: 0;
            content: "";
            position: absolute;
            display: block;
            border-width: 22px 0 22px 16px;
            border-style: solid;
            border-color: transparent #fff;
            right: 13px;
            top: 30px;
          }

          &:before {
            width: 0;
            content: "";
            position: absolute;
            display: block;
            border-width: 22px 0 22px 16px;
            border-style: solid;
            border-color: transparent #ddd;
            right: 12px;
            top: 30px;
          }
        }

        &:after {
          @include timelinePoint();
          float: left;
          top: 43px;
          right: -9px;
        }
      }
    }
  }
}

div#publications {
  div.row {
    margin: 16px 0;
    display: flex;
    flex-direction: row;

    div {
      margin-bottom: 4px;

      @media screen and (max-width: 540px) {
        font-size: 10pt;
      }
    }

    div.screenshot {
      flex: 0 0 150px;
      margin-right: 16px;

      @media screen and (min-width: 540px) {
        flex: 0 0 250px;
      }

      img {
        width: 100%;
      }
    }

    div.title {
      font-size: 13pt;
      font-weight: bold;
    }

    div.author {
      color: #333;

      .self {
        font-weight: bold;
      }
    }

    div.published_at {
      font-style: italic;
    }
  }
}

div.footer {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 32px;
  font-size: 12pt;
}

div#about .content {
  margin: 1em;
  line-height: 1.4;
}

div#header {
  display: flex;
  justify-content: center;

  {% if site.background-img %}
    background: linear-gradient(
            rgba(0, 0, 0, 0.3), 
            rgba(0, 0, 0, 0.3)
        ), url({{ site.background-img | absolute_url }}) no-repeat bottom center scroll;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 100% auto;
  {% endif %}

  div.content {
    padding: 2em 16px;
    display: flex;
    color: #fff;

    div.name {
      font-weight: bold;
      font-size: 18pt;
    }

    div.photo {
      max-width: 200px;
      max-height: 200px;
      margin-right: 32px;

      img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
      }
    }

    div.text > div {
      margin: 8px 0;
      text-shadow: 1px 1px 2px #333;
    }

    div.text .header-list {
      display: flex;
      justify-content: space-between;
      margin: 1em 0;

      @media screen and (min-width: 500px) {
        margin: 2em 0;
      }

      div {
        color: white;
        list-style: none;

        a {
          color: white;
          text-decoration: none;
          font-size: 16pt;

          @media screen and (min-width: 500px) {
            font-size: 24pt;
          }
        }
      }
    }
  }
}
